@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'bmjua';
  src: url(./font/BMJUA_ttf.ttf) format('truetype');
}

body {
  font-family: 'bmjua';
}

input[type='password'] {
  font-family: 'roboto';
}

::placeholder {
  font-family: 'bmjua';
}
